<?xml version="1.0" encoding="utf-8" ?>
<!--复制此文档各种Ioc定义方式到需要的地方-->
<objects xmlns="http://www.springframework.net">

  <object name="fctTest" type="VPITest.Model.FctTest, VPITest">
    <property name="Cabinet" ref="cabinet"/>
    <property name="txMsgQueue" ref="txMsgQueue"/>
    <property name="rxFctMsgQueue" ref="rxFctMsgQueue"/>
    <property name="preTimeout" value="15"/>
    <property name="runTimeout" value="5"/>
    <property name="fctMessageLogFile" ref="fctMessageLogFile"/>
    <property name="dbADO" ref="dbADO"/>
    <property name="report" ref="report"/>
    <property name="testSemaphore" ref="testSemaphore"/>
  </object>
  <object name="fctMessageLogFile" type="VPITest.Model.MessageLogFile, VPITest">
    <property name="basePath" value="\\Data\\Fct\\"/>
  </object>

  <object name="generalTest" type="VPITest.Model.GeneralTest, VPITest">
    <property name="Cabinet" ref="cabinet"/>
    <property name="txMsgQueue" ref="txMsgQueue"/>
    <property name="rxGeneralMsgQueue" ref="rxGeneralMsgQueue"/>
    <property name="preTimeout" value="15"/>
    <property name="runTimeout" value="5"/>
    <property name="generalMessageLogFile" ref="generalMessageLogFile"/>
    <property name="dbADO" ref="dbADO"/>
    <property name="report" ref="report"/>
    <property name="testSemaphore" ref="testSemaphore"/>
    <property name="judgeMatrix" ref="judgeMatrix" />
  </object>  
  <object name="generalMessageLogFile" type="VPITest.Model.MessageLogFile, VPITest">
    <property name="basePath" value="\\Data\\General\\"/>
  </object>

  <object name="selfTest" type="VPITest.Model.SelfTest, VPITest">
    <property name="Tester" value="自检测试"/>
    <property name="PlanRunningTime" value="60"/>
    <property name="Cabinet" ref="cabinet"/>
    <property name="txMsgQueue" ref="txMsgQueue"/>
    <property name="rxGeneralMsgQueue" ref="rxSelfMsgQueue"/>
    <property name="preTimeout" value="15"/>
    <property name="runTimeout" value="5"/>
    <property name="generalMessageLogFile" ref="selfMessageLogFile"/>
    <property name="testSemaphore" ref="testSemaphore"/>
    <property name="judgeMatrix"  ref="judgeMatrix" />
  </object>
  <object name="selfMessageLogFile" type="VPITest.Model.MessageLogFile, VPITest">
    <property name="basePath" value="\\Data\\Self\\"/>
  </object>

  <object name="report" type="VPITest.Model.Report, VPITest">
    <property name="version" ref="version"/>
    <property name="fctTempletFile" value="Templet\\fct_report.pdf"/>
    <property name="generalTempletFile" value="Templet\\general_report.pdf"/>
    <property name="fctUserReportTitle" value="VPI组件测试用户报告"/>
    <property name="fctDiagReportTitle" value="VPI组件测试诊断报告"/>
    <property name="generalUserReportTitle" value="VPI单板测试用户报告"/>
    <property name="generalDiagReportTitle" value="VPI单板测试诊断报告"/>
    <property name="fontFile" value="C:/WINDOWS/Fonts/SimHei.TTF"/>
    <property name="fontSizeHead" value="6"/>
    <property name="fontSizeBody" value="8"/>
    <property name="endString" value="--END--"/>
    <property name="fctMessageLogFile" ref="fctMessageLogFile"/>
    <property name="generalMessageLogFile" ref="generalMessageLogFile"/>
  </object>
  
  <object name="judgeMatrix" type="System.Collections.Generic.Dictionary&lt;VPITest.Model.Board, VPITest.Model.Board[]>">
    <constructor-arg >
      <dictionary>
        <entry key-ref="CPUPD1">
          <list element-type="VPITest.Model.Board, VPITest">
            <ref object="CPUPD1"/>
            <ref object="VCOM"/>
          </list>
        </entry>
        <entry key-ref="VCOM">
          <list element-type="VPITest.Model.Board, VPITest">
            <ref object="CPUPD1"/>
            <ref object="VCOM"/>
          </list>
        </entry>
        <entry key-ref="VPS">
          <list element-type="VPITest.Model.Board, VPITest">
            <ref object="VPS"/>
          </list>
        </entry>
        <entry key-ref="VIB161_7">
          <list element-type="VPITest.Model.Board, VPITest">
            <ref object="VPS"/>
            <ref object="IOBUS1"/>
            <ref object="IOBE1"/>
            <ref object="VIB161_7"/>
          </list>
        </entry>
        <entry key-ref="VIB161_8">
          <list element-type="VPITest.Model.Board, VPITest">
            <ref object="IOBUS1"/>
            <ref object="IOBE1"/>
            <ref object="VOB161_4"/>
            <ref object="VIB161_8"/>
          </list>
        </entry>
        <entry key-ref="VOB161_4">
          <list element-type="VPITest.Model.Board, VPITest">
            <ref object="IOBUS1"/>
            <ref object="IOBE1"/>
            <ref object="VOB161_4"/>
          </list>
        </entry>
        <entry key-ref="VOB162_4">
          <list element-type="VPITest.Model.Board, VPITest">
            <ref object="IOBUS1"/>
            <ref object="IOBE2"/>
            <ref object="VOB162_4"/>
          </list>
        </entry>
        <entry key-ref="VIB162_8">
          <list element-type="VPITest.Model.Board, VPITest">
            <ref object="IOBUS1"/>
            <ref object="IOBE2"/>
            <ref object="VOB162_4"/>
            <ref object="VIB162_8"/>
          </list>
        </entry>
      </dictionary>
    </constructor-arg>
    </object>
  
</objects>
