<?xml version="1.0" encoding="utf-8" ?>
<!--复制此文档各种Ioc定义方式到需要的地方-->
<objects xmlns='http://www.springframework.net'
  xmlns:db="http://www.springframework.net/database">

  <db:provider id="dbProvider" provider="System.Data.SQLite" 
               connectionString="Data Source=./Data/database.db;Version=3;Password=casco123"/>

  <!--<object id="dbProvider" type="Summer.System.Data.SmrDbProvider, Summer.System">
    <constructor-arg value="System.Data.SQLite"/>
    <constructor-arg value="3d9bb15fada88e8b83def8f8470858e803acb830728c9bab0177bfa0bf36648b319395495b053b560a3e47f936228512e269df01ac6f5c53407d0da7c2892eb9"/>
  </object>-->
  
  <object id="adoTemplate" type="Spring.Data.Generic.AdoTemplate, Spring.Data">
    <property name="DbProvider" ref="dbProvider"/>
  </object>

  <object id="sqliteConvertor" type="Summer.System.Data.VarietyDb.SqliteConvertor, Summer.System">
    <property name="provider" ref="dbProvider"/>
  </object>
  
  <object id="mainADO" type="VPITest.DB.MainADO, VPITest">
    <property name="adoTmplte" ref="adoTemplate"/>
    <property name="convertor" ref="sqliteConvertor"/>    
  </object>

  <object id="boardADO" type="VPITest.DB.BoardADO, VPITest">
    <property name="adoTmplte" ref="adoTemplate"/>
    <property name="convertor" ref="sqliteConvertor"/>
  </object>

  <object id="detailADO" type="VPITest.DB.DetailADO, VPITest">
    <property name="adoTmplte" ref="adoTemplate"/>
    <property name="convertor" ref="sqliteConvertor"/>
  </object>

  <object id="dbADO" type="VPITest.DB.DbADO, VPITest">
    <property name="mainADO" ref="mainADO"/>
    <property name="boardADO" ref="boardADO"/>
    <property name="detailADO" ref="detailADO"/>
  </object>
  
</objects>
