<?xml version="1.0"?>
<configuration>
  <!-- Spring 配置文件 -->
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <spring>
    <context type="Spring.Context.Support.XmlApplicationContext, Spring.Core">
      <resource uri="~/Config/spring.equipment.xml"/>
      <resource uri="~/Config/spring.common.xml"/>
      <resource uri="~/Config/spring.ui.xml"/>
      <resource uri="~/Config/spring.model.xml"/>
      <resource uri="~/Config/spring.protocol.xml"/>
      <resource uri="~/Config/spring.net.xml"/>
      <resource uri="~/Config/spring.job.xml"/>
      <resource uri="~/Config/spring.db.xml"/>
    </context>
  </spring>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true"/>
  </runtime>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="1.0.80.0" newVersion="1.0.86.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>
